@font-face {
	font-family: 'font'; /*a name to be used later*/
	src: url('font.otf'); /*URL to font*/
}

body {
	color:#F0F0F0;
	/* font-family: 'font'; */
	font-family: 'Roboto', sans-serif;
	font-weight: Thin;
	background-color: #000;
	/* text-shadow: #fff 1px 1px 20px; */
	-webkit-font-smoothing: antialiased;
	padding: 0px;
	margin: 0px;
}

#centercontainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80%;
	width: 80%;
	margin: 10%;
}

#salutation {
	font-size: 20pt;
	text-align: center;
	font-style: italic;
}

#time {
	font-size: 50pt;
	text-align: center;
}

#date {
	font-size: 20pt;
	text-align: center;
	padding-bottom: 50px;
}

#spacer {
	flex-grow: 1;
}

#quote_container {
	padding-top: 50px;
	align-self: flex-end;
}

#quote {
	font-size: 18px;
	text-align: right;
	font-style: italic;
}

#author {
	font-size: 15px;
	margin-top: 5px;
	text-align: right;
	font-style: italic;
}

#weather {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 60px;
}

.stock {
	text-align: center;
	padding-bottom: 10px;
	font-size: 18px;
}

.stock_divider {
	color: #999;
}

.positive {
	color: #A4FF73;
	font-weight: bold;
}

.negative {
	color: #FD5858;
	font-weight: bold;
}

#weather_image {
	height: 100px;
	padding-bottom: 10px;
}

#weather_description {
	font-size: 20px;
	font-weight: bold;
}

#weather_forecast {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	padding-top: 30px;
}

.weather_forecast_cell {
	min-width: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
	text-align: center;
	font-size: 10pt;
	font-weight: bold;
	padding-top: 55px;
}

#weather_chart {
	display: none;
}

#weather_chart .ct-label {
	color: #aaa;
}

#weather_chart .ct-line {
	stroke: #ddd;
	stroke-width: 2px;
}

#weather_chart .ct-area {
	fill: #aaa;
	stroke-width: 5px;
}

#weather_chart .ct-point {
	stroke-width: 0px;
}

a {
  color: inherit;
  text-decoration: inherit;
}